footer.xs-12
  div
    strong.big {{site.title}}
    p  
      | Globally minded Product Designer
      p  
        | Welcome! Take a look around and send me your thoughts at mariesa [at] mkdaledesign.com
