#menu.slideout-menu.slideout-closed
  .flexbox
    nav
      h4 Menu
      a(href='{{ site.url }}') Home
      a(href='{{ site.url }}/about.html') About
      a(href='{{ site.url }}/archives.html') Archives
      h4 Categories
      a(href='{{ site.url }}/categories/soapbox.html') Soapbox
      a(href='{{ site.url }}/categories/casestudies.html') Case Studies
      a(href='https://society6.com/mkdale') Shop

    div.details
      b {{site.title}}
      p Product Designer
      p  
        | Welcome! Take a look around and send me your thoughts at mariesa [at] mkdaledesign.com
